#intro {
    height: 100vh;  /* 100% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../assets/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--base-color-gray600);

}

#header {
    width: 1040px;
    height: 447px;
    /* border: 2px solid red; */
}

#header img {
    margin-bottom: 56px;
}
#header .text-sm {
    font-family: var(--font-family-mavenpro);
    color: var(--base-color-gray400);
    max-width: 680px;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
}

.tag {
    font: var(--text-md);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0.5rem;
    padding-bottom: 76px;

}

.skill {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding:  8px 16px;
    background-color: var(--base-color-gray300);
    border-radius: 999px;
    transition: background-color 0.3s;

    img {
        width: 20px;
        height: 20px;
    }

}

#destaques {
    padding: 4rem 2rem;
    background-color: var(--base-color-gray200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 9rem;
    
  h2 {
    padding-bottom: 56px;
  }
 
}

h2 {
  color: var(--base-color-gray600);
  text-align: center;
}

.subs {
    color: var(--main-color-red);
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 8px;
}
.my-job {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: var(--base-color-gray300);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & img {
    width: 100%;
    border-radius: 0.5rem;
  }
  
    & h3 {
    margin: 0;
  }

    & span {
    line-height: 1.4;
  }

}

.card:hover {
  border: 2px solid var(--base-color-gray400);
}






.services {
  background-color: var(--base-color-gray100);
  padding-top:88px;
  padding-bottom: 120px;
  text-align: center;

  & h2 {
    padding-bottom: 56px
  }
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  max-width: 1040px;
  margin: 0 auto;
 
  & figure {
  background-color: var(--base-color-gray200);
  border: 1px solid var(--base-color-gray300);
  border-radius: 12px;
  padding: 20px;
  min-height: 155px;
  text-align: left;
  display: flex;
  flex-direction: column;
  }

    & figure img {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
    }

   & h3 {
  color: var(--base-color-gray600);
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
    }

  
}

#contact {
  background-image: url(/assets/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center;
  padding-top: 128px;
  padding-bottom: 200px;
  max-width: 100%;
  margin: 0 auto;

  .subs {
    color: var(--main-color-purple);
    display: block;
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 8px;
  }

  /* .text-md {
    margin-bottom: 48px;
  } */
}


.social-links {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  
  

}

.social-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-color-gray300);
  width: 400px;
  height: 68px;
  border-radius: 8px;
  color: var(--base-color-gray500);
  text-decoration: none;

  padding-left: 20px;
  padding-right: 20px;

  & img:first-child{
  width: 28px;
  height: 28px;
  padding-right: 12px;
  }
  

  & span {
    flex: 1;
    text-align: left;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
  }

  & img:last-child {
    width: 20px;
    height: 20px;

  }
}

.social-logo:hover{
  border: 2px solid var(--main-color-blue);
}